*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: sans-serif;
}

body{
   background-color: black;
}

nav{
   height: 8vh;
   background-color: #222222;
}

.fa-solid{
   color: white;
}

.flex{
   display: flex;
}

.flex-cards{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.flex-space-bet{
   display: flex;
   justify-content: space-between;
}

.flex-column{
   display: flex;
   flex-direction: column;
}

.flex-align-center{
   display: flex;
   align-content: center;
}

.flex-justify-center{
   display: flex;
   justify-content: center;
}

.flex-end{
   display: flex;
   justify-content: flex-end;
}

.header-tab-container{
   padding: 10px;
   font-size: 0.8rem;
}

.header-tab{
   padding: 5px;
   background-color: #4A4A4A;
   border-radius: 5px;
   margin-left: 10px;
}

.web-app-container{
   height: 100vh;
   color: white;
}

.cards-container{
   padding: 10px 0;
}

.card{
   position: relative;
   padding: 5px;
}

.card img{
   width: 100%;
}

.name{
   font-size: 0.8rem;
   padding: 5px;
   background-color: rgba(0, 0, 0, 0.4);
   position: absolute;
   bottom: 9px;
   left: 5px;
}

nav i{
   font-size: 1.6rem;
}

.fa-angle-up{
   font-size: 0.7rem;
   margin-left: 15px;
}

.fa-share-from-square{
   color: #4BC800;
}

.text{
   font-size: 0.7rem;
   margin-top: 7px;
}

.item{
   margin: 15px;
}

.right-nav{
   height: 100%;
   background-color: #4A4A4A;
   padding: 20px;

}

.end-meeting{
   background-color: #4A4A4A;
   border: none;
   color: red;
}